@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.encabezado{
    min-height: 4rem;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    gap: 10px;
}